<h2 class="page-title">Service Request History</h2>

<!-- Search -->
<input
  class="search"
  type="text"
  placeholder="Search by customer, service or status"
  [(ngModel)]="searchText"
  (ngModelChange)="applyFilter()" />

<!-- Table Card -->
<div class="table-card" *ngIf="pagedData.length > 0">

  <table mat-table [dataSource]="pagedData">

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let r">{{ r.serviceRequestId }}</td>
    </ng-container>

    <!-- Customer -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let r">{{ r.customerName }}</td>
    </ng-container>

    <!-- Service -->
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef>Service</th>
      <td mat-cell *matCellDef="let r">{{ r.serviceName }}</td>
    </ng-container>

    <!-- Issue -->
    <ng-container matColumnDef="issue">
      <th mat-header-cell *matHeaderCellDef>Issue</th>
      <td mat-cell *matCellDef="let r">{{ r.issueDescription }}</td>
    </ng-container>

    <!-- Requested -->
    <ng-container matColumnDef="requested">
      <th mat-header-cell *matHeaderCellDef>Requested</th>
      <td mat-cell *matCellDef="let r">
        {{ r.requestedDate | date:'dd MMM yyyy' }}
      </td>
    </ng-container>

    <!-- Scheduled -->
    <ng-container matColumnDef="scheduled">
      <th mat-header-cell *matHeaderCellDef>Scheduled</th>
      <td mat-cell *matCellDef="let r">
        {{ r.scheduledDate ? (r.scheduledDate | date:'dd MMM yyyy') : '-' }}

      </td>
    </ng-container>

    <!-- Completed -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Completed</th>
      <td mat-cell *matCellDef="let r">
        {{ r.completedDate ? (r.completedDate | date:'dd MMM yyyy') : '-' }}

      </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let r">
        <span class="status-pill">{{ r.status }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="filteredData.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5,10,20]"
    showFirstLastButtons
    (page)="onPageChange($event)">
  </mat-paginator>

</div>

<!-- Empty -->
<div class="empty" *ngIf="pagedData.length === 0">
  No service history found.
</div>
