<h1 class="heading">Service Management System</h1>
<mat-card class="register-card">
  <h2>Register</h2>

  <form [formGroup]="form" (ngSubmit)="register()">

    <!-- FULL NAME -->
    <mat-form-field appearance="outline" class="full">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName">
      <mat-error *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid">
        Full name is required
      </mat-error>
    </mat-form-field>

    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('pattern')">
        Only Gmail addresses are allowed
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field appearance="outline" class="full">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        Password is required
      </mat-error>
    </mat-form-field>

    <!-- ROLE -->
    <mat-form-field appearance="outline" class="full">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="Customer">Customer</mat-option>
        <mat-option value="Technician">Technician</mat-option>
        <mat-option value="ServiceManager">Service Manager</mat-option>
      </mat-select>
      
    </mat-form-field>

    <!-- BUTTON -->
    <button
      mat-raised-button
      color="primary"
      class="full"
      type="submit">
      Register
    </button>

  </form>

  <p class="new-user-text">
    Already have an account?
    <button type="button" class="register-link-btn" (click)="goToLogin()">
      Login
    </button>
  </p>
</mat-card>
