.container {
  max-width: 800px;
  margin: 30px auto;
}

.form-card {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 14px;
  cursor: pointer;
}

button.edit {
  background-color: #1976d2;
  color: white;
  border: none;
}

button.cancel {
  background-color: #777;
  color: rgb(14, 1, 9);
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
