<div class="container">
  <h2>Service Categories</h2>
  <h3>{{ isEditMode ? 'Edit Category' : 'Add Category' }}</h3>

  <form [formGroup]="categoryForm" (ngSubmit)="submit()" class="form-card">

    <input
      type="text"
      placeholder="Category Name"
      formControlName="categoryName"
    />

    <button type="submit">
      {{ isEditMode ? 'Update Category' : 'Add Category' }}
    </button>

    <button
      type="button"
      class="cancel"
      *ngIf="isEditMode"
      (click)="resetForm()">
      Cancel
    </button>

  </form>

  <table>
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of categories">
  <td>{{ c.categoryName }}</td>

  <td class="actions">
  <!-- ENABLE / DISABLE -->
  <mat-slide-toggle
    [checked]="c.isActive"
    [disabled]="c._loading"
    (change)="onToggleCategory(c, $event)">
  </mat-slide-toggle>

  <!-- EDIT -->
  <button
    type="button"
    class="edit-btn"
    [disabled]="!c.isActive"
    (click)="edit(c)">
    Edit
  </button>
</td>

  </tr>

    </tbody>
  </table>
</div>
