.login-card {
  max-width: 400px;
  margin: 80px auto;
  padding: 24px;
}

.full {
  width: 100%;
}

.new-user-text {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.register-link-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: 4px;
  color: #1976d2;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.heading{
  text-align: center;
  color: #e91e63;
}
