<nav
  class="navbar"
  [class.scrolled]="isScrolled"
  *ngIf="isLoggedIn"
>

  <!-- LEFT : BRAND -->
  <div class="navbar-left brand-area">

    <!-- SVG LOGO -->
    <svg
      class="brand-logo"
      width="36"
      height="36"
      viewBox="0 0 64 64"
      fill="none"
    >
      <!-- Hexagon -->
      <path
        d="M32 4 L56 18 V46 L32 60 L8 46 V18 Z"
        stroke="#ec407a"
        stroke-width="3"
        fill="rgba(255,255,255,0.05)"
      />

      <!-- Wrench -->
      <path
        d="M36 20a6 6 0 0 1-8 6l-8 8 4 4 8-8a6 6 0 0 1 6-10z"
        stroke="#ffffff"
        stroke-width="2"
        fill="none"
      />

      <!-- Nodes -->
      <circle cx="18" cy="18" r="2" fill="#ba68c8"/>
      <circle cx="46" cy="18" r="2" fill="#ba68c8"/>
      <circle cx="32" cy="46" r="2" fill="#ba68c8"/>
    </svg>

    <span class="brand-text">
      SERVICE MANAGEMENT SYSTEM
    </span>

  </div>

  <!-- RIGHT : USER -->
  <div class="navbar-right">
    <!-- 🔔 NOTIFICATIONS -->
  <div class="notification-wrapper">

    <button class="notification-btn"
            (click)="toggleNotifications(); $event.stopPropagation()">
      🔔
      <span class="badge" *ngIf="unreadCount > 0">
        {{ unreadCount }}
      </span>
    </button>


    <!-- Dropdown -->
    <div class="notification-panel" *ngIf="showNotifications">

      <div class="panel-header">
        <span>Notifications</span>
        <button (click)="markAllAsRead()">Mark all</button>
      </div>

      <div class="panel-body">

        <div *ngFor="let n of notifications"
            class="notification-item"
            [class.unread]="!n.isRead"
            (click)="markAsRead(n)">

          <strong>{{ n.title }}</strong>
          <p>{{ n.message }}</p>
          <small>
            {{ n.createdAt | date:'dd/MM/yyyy, hh:mm a' }}
          </small>



        </div>

        <div class="empty" *ngIf="notifications.length === 0">
          No notifications
        </div>

      </div>
    </div>

  </div>




    <div class="user-badge">
      <span class="avatar">
        {{ fullName ? fullName[0] : 'U' }}
      </span>
      <span>
        Hi, {{ fullName || 'User' }}
      </span>
    </div>



    <span class="role-pill">{{ role }}</span>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>

  </div>

</nav>
